<div class="row">
  <div class="col-xs-12">
    <h2>Add server or its Blueprint!</h2>
    <p>Encapsultion example</p>
    <hr>
    <p>Accessing through @ViewChild (local reference)</p>
     {{serverAnotherName.value}}<br>
    <!--Local references in templates(passed through functions)-->
    <label>Server Description</label>
    <input type="text" class="form-control"
           #serverName>
    <br>

    <!--Two way Binding-->
    <label>Server Description</label>
    <input type="text" class="form-control"
     [(ngModel)]="serverDescription">
    <br>

    <!--Local references in templates(accessing through @ViewChild(serverAnotherName))-->
    <label>Server Another name </label>
    <input type="text" class="form-control"
           #serverAnotherName>
    <br>


    <button type="button" class="btn btn-primary"
     (click)="onAddServer(serverName)">Add Server</button><br><br>
    <button type="button" class="btn btn-primary"
      (click)="onAddBlueprint(serverName)">Add Server Blueprint</button>
  </div>
</div>
