<div>
  <!-- 1)If our html file is complex then, angular will escape html tags
       to prevent cross side scripting,so access properties inside app
       component as explained below and include <ng-content> in
         this component.
        2) the properties in .ts file can be accessible inside app component
           (inside selector of this component i.e.
            inside tag(<app-test-ng-contsnt> <p>{{ value }}</p> </app-test-ng-contsnt>) in
            app component
            -->
  <!--<p>{{ value }}</p>  :  write this inside
        <app-test-ng-contsnt> <p>{{ value }}</p> </app-test-ng-contsnt>
         of app component-->
  <ng-content></ng-content>
</div>
