<div
  class="panel panel-default">
  <!--commented  here to demonstrate ngOnChenges()-->
  <!--<div class="panel-heading">
    {{ elements.name}}
  </div>-->
  <div class="panel-heading">
    {{ name }}
  </div>
  <div class="panel-body">
    <p>
      <strong *ngIf="elements.type === 'server'" style="color: red">{{ elements.content }}</strong>
      <em *ngIf="elements.type === 'blueprint'">{{ elements.content }}</em>
    </p>
  </div>
 <hr>

  <div>
    <p>To explain ng-content</p>
    <ng-content></ng-content>
  </div>

</div>
