<div class="container">
   <app-cockpit (serverCreated)="onAddServer($event)"
    (bpCreated)="onAddBlueprint($event)"></app-cockpit>
  <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary"
          (click)="onChangeElement()">Change server Element</button>
        <button class="btn btn-danger"
          (click)="onDestroyFirst()">Destroy first Element</button>
        <app-server-element *ngFor="let serverElement of serverElements"
        [elements]="serverElement"
        [name]="serverElement.name">
          <!--ng-content explained-->
          <!--#paragraphContent- local reference
           this <p> we will access in Server Component
            with @ContentChild('paragraphContent') in .ts of server-->
          <p #paragraphContent>{{serverElement.type}}</p>
        </app-server-element>
        <!--[srvElement]="serverElement "--><!-- alias use in @Input()-->
      </div>
    </div>


</div>
